# Data
/data/

# Output
/output/

# Jupyter Notebooks
/notebooks/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
*.pem

# Logs
*.log
